In [166]:
import numpy as np
import pandas as pd

In [167]:
df = pd.read_csv("./dataset_idx/cifar10/sparse_dir0.1_U100/100client/cifar10_sparse_stat.csv", header=None)
df.head(10)

     0    1    2   3    4    5    6    7    8   9
0    2   17   94  90    2   44    0   82    0   1
1    0  470  109  39    0    1    0  195    0   7
2    0    3    0   0    0    0    0  651    0  21
3   20   32    0   0    1   84  261    0   13   2
4  126   62    0   0   47  141    0  187    0   1
5    0    0    0   0    0   13    0   63    4   0
6    2    0    0  57  241   97   10    0    0   0
7    1    0  200  93    7    0   40  164  497   0
8    1    0    6   3    0  159    0   16    0   0
9    0    1    0  35   18    0    1   44    0   0

In [168]:
num_zeros = (df == 0).sum().sum()
print(num_zeros)
total_sample = len(df)*len(df.T)
print(num_zeros/total_sample)

539
0.539

In [169]:
total_sample = df.sum().sum()
print(total_sample)

client_samples = df.T.sum().to_list()
print(client_samples)

50000
[332, 821, 675, 413, 564, 80, 407, 1002, 185, 99, 12, 195, 654, 351, 150, 73, 284, 746, 1057, 1677, 752, 42, 1158, 197, 241, 714, 60, 309, 737, 383, 108, 168, 791, 352, 214, 1305, 3, 130, 813, 731, 620, 722, 211, 773, 339, 549, 64, 364, 242, 248, 109, 3071, 329, 427, 53, 380, 408, 506, 227, 241, 332, 356, 130, 41, 1607, 326, 694, 565, 1, 133, 129, 1061, 76, 842, 7, 1800, 1325, 196, 550, 145, 1499, 287, 548, 39, 473, 79, 2071, 513, 104, 649, 1098, 292, 259, 575, 1194, 23, 106, 214, 316, 477]

In [170]:
thresold1 = 50
thresold2 = total_sample/len(df)

print(thresold2)

scarcity_T = 0
scarcity_M = 0

for client_sample in client_samples:
    if client_sample <= thresold1:
        scarcity_T += 1
    if client_sample <= thresold2:
        scarcity_M += 1

print(scarcity_T/len(df))
print(scarcity_M/len(df))

500.0
0.08
0.62